@charset "utf-8";

@import "~bulma/bulma.sass";

html {
    color: rgba(0, 0, 0, 0.7);
}

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

// If need, change your variables before importing Bulma
$title-color: #ff0000;

a {
    color: #363636;

    &:hover {
        color: $link;
    }
}

.title {
    line-height: 1.3;

    &.is-3 {
        color: $grey;
    }
}

iframe {
    min-width: 100%;
    height: 800px;
}

.report {
    text-align: right;
}

@media (max-width: 680px) {
    iframe {
        max-width: 100%;
        height: 300px;
    }

    .content figure {
        margin-left: 0em;
        margin-right: 0em;
    }
}